<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand custom-brand" href="index.html">
        <img src="assets/logoPrj.png" alt="logo" class="brand-logo">
        <span class="brand-text">RapidRent</span>
      </a>    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link"  href="home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search">SEARCH CAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="booking">MY BOOKINGS</a>
          </li>
        </ul>
        <div class="d-flex" *ngIf="!user">
          <button class="btn btn-outline-light me-2" (click)="openAuthModal('login')">Login</button>
          <button class="btn btn-outline-light" (click)="openAuthModal('signup')">Sign Up</button>
        </div>
        <div class="d-none" *ngIf="user">
          <span class="text-light me-3">{{user.username}}</span>
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </div>
        
      </div>
    </div>
  </nav>
  
  