.navbar {
  background-color: #000000;
  padding: 0;
  height: 85px;
}

.custom-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.brand-logo {
  height: 100px;
  width: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.brand-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
}

.custom-brand:hover .brand-logo {
  transform: scale(1.1);
}

.custom-brand:hover .brand-text {
  color: #fcb807;
}

.nav-link {
  color: #ffffff;
  font-size: 1rem;
  margin-right: 1rem;
  transition: color 0.3s;
  position: relative;
}

.nav-link:hover {
  color: #fcb807;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fcb807;
}

.btn-outline-light:hover {
  background-color: #fcb807 !important;
  color: #343a40 !important;
  border-color: #fcb807 !important;
}